* {
  margin: 0;
  padding: 0%;
}
header {
  display: flex;
  flex-wrap: wrap;
  top: 0%;
  flex-direction: column;
  height: 90vh;
  background-image: url(f4bank.png);
  background-size: 100% 100%;
  justify-content: flex-end;
  align-items: center;
  font-size: 2.8vh;
  color: black;
  text-align: center;
}
.produtos {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 90vh;
  background-image: url(produtos.jpg);
  background-size: 100% 100%;
  justify-content: flex-end;
  align-items: center;
  font-size: 2.8vh;
  color: black;
  text-align: center;
}
.time {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 90vh;
  background-image: url(nossotime.jpg);
  background-size: 100% 100%;
  justify-content: flex-end;
  align-items: center;
  font-size: 2.8vh;
  color: white;
  text-align: center;
}
.pgenerico {
  margin-bottom: 1.7vh;
}
footer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 15vh;
  background-color: #ff914d;
  font-size: 2.8vh;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  bottom: 0;
}
.rsocial {
  width: 4vh;
}
