* {
  margin: 0;
  padding: 0;
}
header {
  background-color: red;
  color: black;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 6vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer {
  background-color: gray;
  color: black;
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 6vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.video {
  width: 15vw;
}
.thumbnail {
  margin: 1vh;
  margin-top: 10vh;
}
.assistir {
  width: 50vw;
  margin-top: 10vh;
}
.descricao {
  display: flex;
  justify-content: center;
  margin-top: 4vh;
}
input {
  margin: 0 5vw;
}
.titulo-videos {
  margin: 0 5vw;
}
